.container
  .col-xs-5
    .form-group.host-form
      = label_tag :host, 'Website URL:', class: 'control-label host-label'
      = text_field_tag :host, '', class: 'form-control', id: 'host-name'
    .lists
      - @hosts.each do |host|
        p #{host}
